@use '@/styles/colors' as *;
@use '@/styles/variables';

.sidebar {
    display: none;
    height: 100%;
    width: variables.$sidebar-width;
    @media (min-width: variables.$posts-with-sidebar-total-width) {
        display: flex;
        flex-direction: column;
    }
}
