@use 'styles/colors' as *;
@use 'styles/variables';

.top_container {
    width: 100%;
}

.header {
    display: block;
    background-color: theme-var($primary-background);
    width: 100%;
    padding: 0 1rem;

    &_main {
        display: flex;
        max-width: variables.$posts-with-sidebar-total-width;
        margin: 0 auto;

        &_content {
            display: flex;
            align-items: center;
            flex-grow: 1;
            margin-top: -0.7rem;
            margin-bottom: 1rem;

            h1 {
                margin-left: 0.7rem;
                font-weight: 700;
                font-size: 1.5rem;
            }
        }
    }
}

.background_placeholder {
    background-color: rgb(45, 151, 229);
    height: 4.5rem;
}
