@use 'styles/colors' as *;

.container {
    display: flex;
    flex-direction: column;
    background-color: theme-var($primary-background);
    padding: 1rem 1rem 4rem;
    width: 100%;
    border-radius: 0.3rem;
    min-height: 33rem;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 28rem;
    height: 100%;
}

.loading {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-left: 2.6rem;
}
