@use 'styles/colors' as *;

.card {
    &_heading {
        font-weight: 700;
        font-size: 0.7rem;
    }
}

.section {
    cursor: pointer;

    &:hover {
        h3 {
            text-decoration: underline;
        }
    }

    h3 {
        font-weight: 500;
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
        // max-height: 3rem;
        // overflow: hidden;
    }

    .sub_section {
        font-weight: 400;
        font-size: 0.75rem;
        color: theme-var($color-opac-w-7);
    }
}

.line {
    margin-bottom: 0.4rem;
}
