@use 'styles/colors' as *;

.line {
    width: 100%;
    border: none;
    height: 1px;
    background-color: theme-var($post-border);
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
