@use 'styles/colors' as *;
@use 'styles/animation';

.button {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    background-color: transparent;
    color: theme-var($body-text);
    font-weight: 600;
    font-size: inherit;
    min-height: 1.8rem;
    padding: 0.2rem 0.3rem;
    user-select: none;

    &:hover {
        cursor: pointer;
        background-color: theme-var($color-opac-w-4);
    }
    &:active {
        background-color: theme-var($color-opac-w-5);
    }
    &:disabled {
        cursor: not-allowed;
        background-color: theme-var($color-opac-w-3);
        color: theme-var($color-opac-w-8);
    }

    &_no_padding {
        padding: 0;
    }

    &_center {
        align-items: center;
        justify-content: center;
    }

    i {
        display: flex;
    }
}

.primary {
    background-color: theme-var($purple-background);

    &:hover {
        background-color: theme-var($purple-background-hover);
    }
    &:active {
        background-color: theme-var($purple-background-active);
    }
}

.secondary {
    background-color: theme-var($secondary-background);
    &:hover {
        background-color: theme-var($secondary-background-hover);
    }
    &:active {
        background-color: theme-var($secondary-background-active);
    }
}

.none {
    &:hover {
        cursor: pointer;
        background-color: transparent;
        border: 0;
    }
    &:active {
        background-color: transparent;
        border: 0;
    }
    &:disabled {
        cursor: not-allowed;
        background-color: transparent;
        color: theme-var($color-opac-w-8);
    }
}

.border_hover {
    &:hover {
        cursor: pointer;
        background-color: transparent;
        border: 1px solid theme-var($post-border);
    }
    &:active {
        background-color: transparent;
        border: 1px solid theme-var($post-border);
    }
    &:disabled {
        cursor: not-allowed;
        background-color: transparent;
        color: theme-var($color-opac-w-8);
    }
}

.border {
    border: 1px solid theme-var($post-border);
    &:hover {
        cursor: pointer;
        background-color: transparent;
        border: 1px solid theme-var($post-border-hover);
    }
    &:active {
        background-color: transparent;
        border: 1px solid theme-var($post-border-active);
    }
    &:disabled {
        cursor: not-allowed;
        background-color: transparent;
        color: theme-var($color-opac-w-8);
    }
}

.spinner {
    @include animation.spin;
}
