@use 'styles/colors' as *;

.comment_list {
    margin-top: 1rem;
}

.comment_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 1rem;
}

.comment {
    padding-left: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    &_content {
        padding-left: 0.4rem;
    }

    &_text {
        margin-top: 0.5rem;
    }

    &_interactions {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        color: theme-var($color-opac-w-7);

        &_button {
            color: inherit;
            font-size: 0.8rem;
            font-weight: 400;
            display: flex;
            align-items: center;

            &_icon {
                margin-right: 0.3rem;
            }
        }
    }
}

.line {
    position: absolute;
    top: 0;
    left: 0.4rem;
    display: flex;
    min-height: 100%;
    width: 0.6rem;

    &::before {
        content: '';
        width: 0.13rem;
        background-color: theme-var($color-opac-w-7);
    }
    &:hover {
        &::before {
            background-color: theme-var($purple-background-hover);
        }
    }
    &:active {
        &::before {
            background-color: theme-var($purple-background-active);
        }
    }
}

.replies {
    padding-left: 1rem;
    width: 100%;
}

.open_comment_icon {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0.2rem;
}

.no_comment_error {
    flex-grow: 1;
}
