@use 'styles/colors' as *;

.post_comment {
    font-size: 0.7rem;
    &_header {
        margin-bottom: 0.4rem;
    }
    &_text_area {
        min-height: 6.5rem;
    }

    &_form {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        &_buttons {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 2rem;
        }

        &_error {
            display: flex;
            align-items: center;
            overflow-wrap: anywhere;
            line-height: 1.5;
        }
    }
}
