@use 'styles/colors' as *;

.container {
    display: flex;
    width: 100%;
    background-color: theme-var($primary-background);
    padding: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 0.3rem;
    border: 1px solid theme-var($post-border);
    font-size: 0.8rem;
    overflow-wrap: anywhere;

    &:hover {
        cursor: pointer;
        border: 1px solid theme-var($post-border-hover);
    }

    &_no_hover {
        border: none;
        &:hover {
            cursor: auto;
            border: none;
        }
    }
}

.general {
    display: flex;
    font-size: 0.7rem;
    gap: 0.3rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.subreadit {
    font-weight: 700;
    &:hover {
        text-decoration: underline;
    }
}

.title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
}

.text {
    max-height: 8.5rem;
    overflow: hidden;
    line-height: 1.5;
}

.comment {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    color: theme-var($color-opac-w-7);
}

.auther {
    color: theme-var($color-opac-w-7);
}

.user {
    &:hover {
        text-decoration: underline;
    }
}
