@use 'styles/colors' as *;

.text_area_container {
    position: relative;
}

.textarea {
    font-family: inherit;
    width: 100%;
    color: theme-var($body-text);
    background-color: theme-var($secondary-background);
    appearance: none;
    border-style: solid;
    border-radius: 0.2rem;
    padding: 0.3rem 0.8rem;
    border-width: 0.1rem;
    background-clip: padding-box;
    border-color: theme-var($secondary-background);
    transition: border 0.12s ease-in, background-color 0.12s ease-in;
    resize: vertical;

    &:hover {
        border-color: theme-var($secondary-background-active);
    }
    &:focus {
        outline: none;
        border-color: theme-var($purple-background);
        background-color: theme-var($black);
    }
    &:disabled {
        cursor: not-allowed;
        &:hover {
            border-color: theme-var($secondary-background);
        }
    }
}

.transparent {
    background-color: transparent;
    &:hover {
        border-color: theme-var($secondary-background-active);
    }
    &:focus {
        outline: none;
        border-color: theme-var($purple-background);
    }
    &:disabled {
        cursor: not-allowed;
        &:hover {
            border-color: theme-var($secondary-background);
        }
    }
}
