@use 'styles/colors' as *;

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 2.5rem;
    font-size: 0.9rem;
    gap: 0.5rem;

    &_btn {
        font-size: 1.5rem;
        padding: 0;
    }
    &_arrow {
        &_unfill {
            color: theme-var($color-opac-w-7);
            &:hover {
                color: theme-var($purple-background-hover);
            }
        }
        &_fill {
            color: theme-var($purple-background-hover);
        }
    }

    &_horizontal {
        flex-direction: row;
    }
}
