@use 'styles/colors' as *;

.tablist {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.1rem solid theme-var($secondary-background);
    height: 2.5rem;
    font-weight: 600;
}

.tab {
    &_button {
        height: 100%;
        width: 100%;
        &:hover {
            cursor: pointer;
        }
    }
    &_text_wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    &_active {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.1rem;
            background-color: theme-var($purple-background);
            margin-bottom: -0.1rem;
        }
    }
}
